html, body, main, div, section, span, h1, h2, h3, p, ul, li {
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-size: 24px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

h1, h2 {
  font-weight: bold;
}

.clock {
  font-family: 'Share Tech Mono', monospace;
  width: 500px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.clock .wrapper:last-of-type {
  margin-bottom: 0;
}

.clock > div {
  background-color: #8cefa5;
  padding: 20px;
}

.tabs {
  width: 250px;
  height: 150px;
  background-color: #bcf1ff;
  box-sizing: border-box;
  margin-top: 48px;
  border: 1px solid #000;
}

.tabs ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-left: -1px;
}

.tabs li {
  margin-top: -36px;
  background-color: #bcf1ff;
  width: 83px;
  border-radius: 8px 8px 0 0;
  padding-top: 6px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-right: -2px;
  cursor: pointer;
}

.tabs article {
  padding: 20px;
  margin-top: 20px;
}

.back {
  font-weight: normal;
  border-bottom: 1px solid #000;
}

.forward {
  font-weight: bold;
  border-bottom: none;
}